.title {
    display: flex;
    justify-content: center;
}

p {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

h1 {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    max-width: 690px;
}

.btn-column {
    margin-top: 120px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

button {
    width: 420px;
    height: 240px;
    background-color: var(--color-primary);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border: 1px solid #965923;
}

.couvert {
    width: 150px;
    height: 90px;
}

.emporter {
    width: 52px;
    height: 90px;
}
