:host {
  display: block;
}

.product-selector-wrapper{
  display: flex;
  justify-content: start;
  gap: calc(var(--spacer) * 3);
  flex-wrap: wrap;
}

main {
  padding: var(--spacer) calc(var(--spacer) * 4);
}