<app-header-image [withPub]="true" />
<h1>{{ product().name }}</h1>
<main>
    <h3>Burger</h3>
    <h3>Taille</h3>
    <div class="product-selector-wrapper">
        @for (sizeOption of Menu.sizeSelectionList; track sizeOption.name) {
            <app-product-selector
                [image]="'./assets/menu/' + product().image"
                [price]="sizeOption.price"
                [title]="sizeOption.name"
                [selected]="selectedSize() === sizeOption.name"
                (isSelected)="selectSize(sizeOption.name)"
            />
        }
    </div>
    <h3>Composition</h3>
    <div class="product-selector-wrapper"></div>
    <div class="product-selector-wrapper">
        @for (ingredient of ingredientList(); track ingredient.name) {
            <!-- <app-ingredient-card
                [ingredient]="ingredient"
                (delete)="deleteIngredient(ingredient.name)"
            /> -->
        }
    </div>
    <h3>Suppléments</h3>
    <!-- <div class="product-selector-wrapper">
        @for (supplement of supplementList(); track supplement.name) {
            <app-ingredient-card
                [ingredient]="supplement"
                (delete)="deleteIngredient(supplement.name)"
            />
        }
    </div> -->
</main>
