<app-header-image [withPub]="true" />
<h1>{{ menu().meta.composition.main }}</h1>
<main>
    <h2>Burger</h2>
    <h3>Taille</h3>
    <div class="product-selector-wrapper">
        @for (sizeOption of availableSizeOption; track sizeOption.name) {
            <app-product-selector
                [image]="'./assets/menu/' + menu().meta.image"
                [price]="sizeOption.price"
                [title]="sizeOption.name"
                [selected]="selectedSize() === sizeOption.name"
                (isSelected)="selectSize(sizeOption.name)"
            />
        }
    </div>
    <h3>Composition</h3>
    <div class="product-selector-wrapper"></div>
    <div class="product-selector-wrapper">
        @for (ingredient of ingredientList(); track ingredient.ingredientName) {
            <app-ingredient-card [ingredient]="ingredient" />
        }
    </div>
    <h3>Suppléments</h3>
</main>
