:host {
    display: block;
}

.product-selector-wrapper {
    display: flex;
    justify-content: start;
    gap: calc(var(--spacer) * 3);
    flex-wrap: wrap;
}

main {
    padding: var(--spacer) calc(var(--spacer) * 4);
}

.supplement-section {
    display: flex;
    align-items: flex-start;
    gap: var(--spacer);
}

.mb {
    margin-bottom: calc(var(--spacer) * 4);
}

h1 {
    margin-top: calc(var(--spacer) * 4);
}

h2 {
    margin-top: 80px;
    margin-bottom: calc(var(--spacer) * 4);
}

h3 {
    margin-top: calc(var(--spacer) * 4);
    margin-bottom: calc(var(--spacer) * 2);
}
