<main routerLink="/location">
    <div class="header">
        <div class="header-line">
            <div class="logo-container">
                <img
                    class="logo"
                    src="assets/global/MacDoberman-Logo.webp"
                    alt="icon"
                />
            </div>
            <h2>McDoberman vous souhaite la</h2>
        </div>
        <h1 class="title">Bienvenue</h1>
    </div>
    <div class="splash">
        <h1 class="text-center white">Touchez l'écran pour commencer</h1>
    </div>
</main>
