<div class="carousel">
    <div class="group">
        @for (category of categoryList(); track category.name) {
            <button
                class="card"
                [class]="
                    category.name === selectedCategoryName()
                        ? 'is-selected'
                        : ''
                "
                (click)="select(category.name)"
            >
                <img [src]="category.image" alt="menu" draggable="false" />
                <p>{{ category.name }}</p>
            </button>
        }
    </div>
</div>
