<div class="carousel">
    <div class="group">
        @for (category of categoryList(); track category.meta.name) {
            <button
                class="card"
                [class]="
                    category.meta.name === selectedCategoryName()
                        ? 'is-selected'
                        : ''
                "
                (click)="select(category.meta.name)"
            >
                <img
                    [src]="'./assets/product/' + category.meta.image"
                    alt="menu"
                />
                <p>{{ category.meta.name }}</p>
            </button>
        }
    </div>
</div>
