<div class="modal">
    <h2 class="title">Un petit dessert ?</h2>
    <div class="dessert-wrapper">
        @for (dessert of dessertList; track dessert.name) {
            <app-modal-product
                [product]="dessert"
                [isSelected]="isSelected(dessert)"
                (selected)="onSelection(dessert)"
            />
        }
    </div>
    <div class="button-wrapper">
        <button class="cancel-button" (click)="onCancel()">Annuler</button>
        <button class="validate-button" (click)="onValidate()">Valider</button>
    </div>
</div>
