<div class="modal">
    <h1>Un petit dessert ?</h1>
    <div class="dessert-wrapper">
        @for (dessert of dessertList; track dessert.name) {
            <app-modal-product
                [product]="dessert"
                [isSelected]="isSelected(dessert)"
                (selected)="onSelection(dessert)"
            />
        }
    </div>
    <div class="button-wrapper">
        <app-small-button
            label="Annuler"
            (clicked)="onCancel()"
            level="danger"
        />
        <app-small-button
            label="Valider"
            (clicked)="onValidate()"
            level="success"
        />
    </div>
</div>
