.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 750px;
    border: 2px solid var(--color-secondary);
    border-radius: 24px;
    padding-top: calc(var(--spacer) * 4)
}

.dessert-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: calc(var(--spacer) * 2);
    padding: 0 calc(var(--spacer) * 4) calc(var(--spacer) * 3);
    margin: calc(var(--spacer) * 4) 0;
}

button {
    width: 180px;
    height: 60px;
    font-size: 38px;
    border-radius: 36px;
}

.button-wrapper {
    padding-bottom: calc(var(--spacer) * 3);
}

.cancel-button {
    background-color: var(--color-primary);
}

.validate-button {
    margin-left: calc(var(--spacer) * 3);
    background-color: var(--color-valid);
    color: white;
}
