button {
  width: fit-content;
  border: none;
  border-radius: 24px;
  padding: 1rem 3rem;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  cursor: pointer;
  transition: 0.2s;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  opacity: 0.9;
}

button:active:not(:disabled) {
  transform: scale(0.98);
}

.primary {
  background-color: var(--color-primary);
}

.success {
  background-color: var(--color-valid);
  color: white;
}

.danger {
  background-color: var(--color-danger);
  color: white;
}
