<app-header-image [withPub]="true" />
<main>
    <app-product-carousel
        [categoryList]="categoryList"
        [(selectedCategoryName)]="selectedCategoryName"
    />
    <div class="column-product">
        @if (menuList().length > 0) {
            <h3>Menus</h3>
            <div class="product-container">
                @for (menu of menuList(); track menu.name) {
                    <app-home-item-card
                        [item]="menu"
                        (itemSelected)="onMenuSelected(menu)"
                    />
                }
            </div>
            <hr />
        }
        <h3>A l'unité</h3>
        <div class="product-container">
            @for (product of productList(); track product.name) {
                <app-home-item-card [item]="product" />
            }
        </div>
    </div>
</main>
<div class="btn-container">
    <button class="btn-giveup" (click)="onAbandon()">Abandon</button>
    <button
        class="btn-order"
        [disabled]="orderService.totalOrderPrice() === 0"
        (click)="validCommand()"
    >
        Ma gamelle
        <br />
        @if (orderService.totalOrderPrice() > 0) {
            {{ orderService.totalOrderPrice() }}€
        }
    </button>
</div>
