:host {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

h3 {
    margin-top: calc(var(--spacer) * 4);
}

.column-product {
    overflow: scroll;
    max-height: 1060px; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.column-product::-webkit-scrollbar {
    display: none;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding-bottom: calc(var(--spacer) * 4);
}

.btn-container {
    display: flex;
    flex-direction: row;
}

button {
    border: none;
    width: 100%;
    height: 140px;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.btn-giveup {
    background-color: var(--color-danger);
}


.btn-order {
    background-color: var(--color-valid);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-order:disabled{
    background-color: var(--color-secondary);
}
