<app-header-image [withPub]="true" />
<main>
    <app-product-carousel
        [categoryList]="categoryList"
        [(selectedCategoryName)]="selectedCategoryName"
    />
    <div class="column-product">
        @if (menuList().length > 0) {
            <h2>Menus</h2>
            <div class="product-container">
                @for (menu of menuList(); track menu.meta.name) {
                    <app-home-item-card
                        [item]="menu"
                        (itemSelected)="onMenuSelected(menu)"
                    />
                }
            </div>
            <hr />
        }
        <h2>A l'unité</h2>
        <div class="product-container">
            @for (product of productList(); track product.meta.name) {
                <app-home-item-card
                    [item]="product"
                    (itemSelected)="onProductSelected(product)"
                />
            }
        </div>
    </div>
</main>
<div class="btn-container">
    <button class="btn-giveup" [routerLink]="['/splash-screen']">
        Abandon
    </button>
    <button class="btn-order" [routerLink]="['/home']">Ma commande</button>
</div>
