<app-header-image />
<main>
    <div class="command-number">
        <h1>Votre gamelle :</h1>
        <h1 class="text-center">
            <b>N°{{ getRandomBills() }}</b>
        </h1>
    </div>

    <h2 class="text-center">
        Vous pouvez récupérer votre ticket et courez vers la caisse pour le
        paiement.
    </h2>

    <h2 class="text-center">
        Merci pour votre balade chez <i>Mcdoberman</i>.<br />
        Wouaf Wouf Wouf !
    </h2>
    <ng-lottie [options]="lottieOptions" />
    <img src="assets/global/mcdob.webp" alt="logo" />
</main>
