<app-header-image />
<main>
    <div class="command-number">
        <h1>Votre commande :</h1>
        <h1 class="text-center">
            <b>N°{{ getRandomBills() }}</b>
        </h1>
    </div>

    <h2 class="text-center">
        Vous pouvez récupérer votre ticket et vous diriger vers les caisses pour
        le paiement.
    </h2>

    <h2 class="text-center">
        Merci pour votre visite chez <i>Mcdoberman</i>, on espère vous revoir
        bientôt !
    </h2>
    <img src="assets/global/mcdob.webp" />
</main>
