.title {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--spacer) * 4);
}

h1 {
    max-width: 690px;
}

.btn-column {
    margin-top: 120px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacer) * 8);
}

.btn-unavailable {
    width: 420px;
    height: 240px;
    background-color: var(--color-secondary);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: calc(var(--spacer) * 2);
    border: 1px solid black;
}

.btn-available {
    width: 420px;
    height: 240px;
    background-color: var(--color-primary);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: calc(var(--spacer) * 2);
    border: 1px solid #965923;
}

.container-unavailable {
    display: block;
    flex-direction: column;
}

.text-indisponible {
    color: var(--color-danger);
}

.btn {
    color: white;
    border-radius: 24px;
    padding: calc(var(--spacer) * 2) calc(var(--spacer) * 5);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: var(--color-danger);
}
