<app-header-image />
<div class="title">
    <h1 class="text-center">Choisissez votre mode de paiement</h1>
</div>

<div class="btn-column">
    <app-option-button
        label="A la borne"
        image="assets/global/borne.webp"
        [isDisabled]="true"
    ></app-option-button>
    <app-option-button
        label="Au comptoir"
        image="assets/global/comptoir.webp"
        (clicked)="toBill()"
    ></app-option-button>

    <app-small-button label="Retour" level="danger" (clicked)="toMenu()" />
</div>
