<app-header-image />
<div class="title">
    <h1 class="text-center">Choisissez votre mode de paiement</h1>
</div>

<div class="btn-column">
    <div class="container-unavailable">
        <button class="btn-unavailable">
            <h2>A la borne</h2>
            <img class="borne" src="assets/global/borne.webp" alt="borne" />
        </button>
        <h3 class="text-indisponible text-center">Hors service</h3>
    </div>
    <button class="btn-available" [routerLink]="['/bill']">
        <h2>Au comptoir</h2>
        <img
            class="comptoir"
            src="assets/global/comptoir.webp"
            alt="comptoir"
        />
    </button>
    <app-small-button label="Retour" level="danger" (clicked)="toMenu()" />
</div>
