.title {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--spacer) * 4);
}

h1 {
    max-width: 690px;
}

.btn-column {
    margin-top: 120px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacer) * 8);
}

img{
    width: 195px;
    height: 150px;
}
